/* latin */
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 300 700;
  font-display: swap;
  src: url('/fonts/fira.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

#benchmarkResults {
  display: flex;
  flex-flow: column;
  align-items: center;
}

html {
  background-color: #f0f0f0;
}

.merged-table {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  font-family: Arial, sans-serif;
}

.merged-table th,
.merged-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.merged-table th {
  background-color: #f2f2f2;
  font-weight: bold;
  text-transform: uppercase;
  
    position: sticky;
    top: 0; /* Don't forget this, required for the stickiness */
    box-shadow: 0 4px 4px -1px rgba(0, 0, 0, 0.4);
}

.merged-table tr:hover {
  background-color: #f5f5f5;
}

/* Styles for error rows */
.merged-table tr.error {
  background-color: #ffebee; /* Light red */
}

.merged-table tr.error:hover {
  background-color: #ef9a9a; /* Darker red on hover */
}

/* Styles for warn rows */
.merged-table tr.warn {
  background-color: #fff3e0; /* Light orange */
}

.merged-table tr.warn:hover {
  background-color: #ffcc80; /* Darker orange on hover */
}

h2 {
  justify-self: center;
  display: inline-block;
  align-self: center;
  margin-bottom: 4px;
}

h3 {
  justify-self: center;
  display: inline-block;
  align-self: center;
  margin-bottom: 4px;
}

section button {
  margin: 0.2em 0;
  font-size: 14px;
  font-weight: 500;
}

section button:hover {
  border: #000 2px solid;
  background-color: #DDD;
}


.tableContainer {
  display: flex;
}

section {
  display: flex;
  flex-flow: column;
  max-width: 800px;
}

body {
  display: flex;
  flex-flow: column;  
  align-items: center;
}

.bone-tree {
  align-self: center;
}

#pixiContainer {
  align-self: center;
  display: flex;
  flex-direction: row;
  height: 400px;
  display: none;
}

#pixiContainer section {
  margin-top: 32px;
  padding: 1em;
  width: 180px;
  overflow-y: auto;
}

.hidden {
  visibility: hidden;
}


#currentAnimation{
    align-self: center;
    font-weight: bold;
}

.bone-tree {
  font-family: Arial, sans-serif;
  list-style-type: none;
  padding-left: 20px;
}

.bone-tree ul {
  list-style-type: none;
  padding-left: 20px;
}

.bone-tree li {
  margin: 5px 0;
  position: relative;
}

.bone-tree li::before {
  content: "";
  position: absolute;
  top: 0;
  left: -15px;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  width: 10px;
  height: 15px;
}

.bone-tree li:last-child::before {
  height: 16px;
}

.bone-tree li::after {
  content: "";
  position: absolute;
  top: 16px;
  left: -15px;
  border-left: 1px solid #ccc;
  height: calc(100% - 16px);
}

.bone-tree li:last-child::after {
  display: none;
}

.deep-bone {
  color: red;
  font-weight: bold;
}

.good-bone {
  color: black;
  font-weight: 400;
}

.default-name-bone {
  color: orange;
  font-weight: 600;
}

.wrong-case-name-bone {
  color: red;
  font-weight: 600;
}

* {
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
}

canvas {
  margin-top: 32px;
}

#dropArea {
  width: 100%;
  max-width: 800px;
  height: 200px;
  border: 2px dashed #ccc;
  border-radius: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  font-weight: bold;
}
#dropArea.highlight {
  border-color: #000;
}
#benchmarkResults {
  margin-top: 20px;
  font-family: Arial, sans-serif;
}

.info {
  width: 100%;
  max-width: 800px;
    background-color: #f0f8ff;
    border: 1px solid #4682b4;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.info:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.info h3 {
    color: #4682b4;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.2em;
}

.info p {
    margin: 5px 0;
    color: #333;
}

.info strong {
    color: #4682b4;
}

.warning {
  width: 100%;
  max-width: 800px;
  background-color: #fffbf0; /* Paler light yellow background */
  border: 1px solid #fff3cd; /* Lighter yellow border */
  color: #997404; /* Slightly darker text for better readability */
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
}

/* Optional: Hover effect */
.warning:hover {
  background-color: #fff8e6; /* Slightly darker but still pale yellow on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.warning strong {
  color: #704d00; /* Darker color for strong text to increase contrast */
}

.warning h3 {
  color: #704d00;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.2em;
}

.warning p {
  margin: 5px 0;
  color: #333;
}

p {
  margin-top: 4px;
}

summary {
  font-weight: bold;
}

div#stats {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 500;
  width: max(200px, 10vw, 10vh);
  height: max(100px, 6vh, 6vw);
  opacity: 0.8;
  user-select: none;
}